- if @user.nil?
  %a(href='/auth/github')
    = image_tag 'github_octocat.png'
    %br
    Login with GitHub
- else
  %h2 Lesson Plans
  - LessonPlan.order(:date).each do |plan|
    %li
      %h3 #{plan.date.strftime('%a %b %-d')}: #{plan.topic}
      %ul
        %li
          %a(href='#') Show lesson plan
          %pre(style='height:50px;overflow:scroll')= plan.content
        %li Videos
        %li
          %a{href:plan.handout_url} Handout

  %h2 Commits
  - @user.commits.each do |commit|
    %li= commit
  
  %h2 Refreshes
  - @user.refreshes.each do |refresh|
    %li= refresh
  
  %h2 Exercises
  - Exercise.order(:id).each do |exercise|
    %h3.exercise Exercise #{exercise.id}
