- if @user.nil?
  %div(style='margin: 100px auto; width: 200px; text-align: center; font-size: 20pt; line-height: 100%')
    %a(href='/auth/github')
      = image_tag 'github_octocat.png', width: 200, height: 166
    %br
    %a(href='/auth/github')
      Log in with GitHub

- else
  %div(style='float: right; width: 200px; background-color: #ccc; padding: 20px')
    %h2 Links
    %ul
      - SidebarLink.order(:name).each do |link|
        %li
          %a(target='_new'){href: link.url}= link.name

  - LessonPlan.order(:date).each do |plan|
    %h1 #{plan.date.strftime('%a %b %-d')}: #{plan.topic}

    %ul
      %li
        %a{href: '/lessons/' + plan.date.strftime('%m-%d')}
          Lesson plan
      %li
        Videos
      %li
        %a{href:plan.handout_url} Handout

      - Exercise.order(:id).each do |exercise|
        %li
          %a{href: "/exercises/#{exercise.id}"}
            Exercise #{exercise.id} - #{exercise.first_line}
