- if @user.nil?
  %a(href='/auth/github')
    = image_tag 'github_octocat.png'
    %br
    Login with GitHub
- else
  - LessonPlan.order(:date).each do |plan|
    %h1
      %a{href: '/lessons/' + plan.date.strftime('%m-%d')}
        #{plan.date.strftime('%a %b %-d')}: #{plan.topic}

    %div(style='margin-left:50px')
      %li
        Videos
      %li
        %a{href:plan.handout_url} Handout

      - Exercise.order(:id).each do |exercise|
        %li
          %a{href: "/exercises/#{exercise.id}"}
            Exercise #{exercise.id} - #{exercise.first_line}
