%div(style='float: right; width: 200px; background-color: #ccc; padding: 20px')
  %h2 Links
  %ul
    - @sidebar_links.each do |link|
      %li
        %a(target='_blank'){href: link.url}= link.name

- LessonPlan.order('date desc').each do |plan|
  %h1 #{plan.date.strftime('%a %b %-d')}: #{plan.topic}

  %ul
    %li
      %a{href: '/lessons/' + plan.date.strftime('%m-%d')}
        Lesson plan
    %li
      %a{href:plan.handout_url} Handout

    - plan.exercises.order(:order_in_lesson).each do |exercise|
      %li
        %a{href: "/exercises/#{plan.date.strftime('%m-%d')}/#{exercise.order_in_lesson}"}
          Exercise #{exercise.order_in_lesson}
          - if exercise.exercise_dir
            in #{exercise.exercise_dir} dir
          = "- #{exercise.first_line}"
