- if @user.nil?
  %a(href='/auth/github')
    = image_tag 'github_octocat.png'
    %br
    Login with GitHub
- else
  - LessonPlan.order(:date).each do |plan|
    %h1 #{plan.date.strftime('%a %b %-d')}: #{plan.topic}

    %li
      Videos
    %li
      %a{href:plan.handout_url} Handout

    %pre(style='height:50px;overflow:scroll')= plan.content

    - Exercise.order(:id).each do |exercise|
      %h2 Exercise #{exercise.dir}

      Commits:
      - commits = Commit.where(user: @user, exercise: exercise)
      = commits.map { |commit| commit.to_s }.join(', ')
      %br

      Refreshes:
      - refreshes = Refresh.where(user: @user, exercise: exercise)
      = refreshes.map { |refresh| refresh.to_s }.join(', ')
      %br
