%p
  %a(href='/') Back

%h1 Exercise #{@exercise.id} - #{@exercise.first_line}

%pre
  = @exercise.content

%h2 Relevant commits pushed to GitHub
- if @commits.size == 0
  %p None so far

- @commits.each do |commit|
  %table
    %tr
      %td(style='padding: 0 10px')
        = commit.committed_at.strftime('%Y-%m-%d %H:%M')
      %th(style='padding: 0 10px')
        %a{href: "#{commit.repo.https_url}/commit/#{commit.sha}"}
          = commit.sha[0...6]
      %td(style='padding: 0 10px')= commit.message
