<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @repo.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>HTTPS URL:</strong>
  <%= @repo.https_url %>
</p>

<p>
  <strong>Hook ID:</strong>
  <%= @repo.hook_id %>
</p>

<p>
  <strong>Has exercise dirs?</strong>
  <%= @repo.has_exercise_dirs %>
</p>

<p>
  <strong>Is not found?</strong>
  <%= @repo.is_not_found %>
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
