<h1>Listing sidebar_links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sidebar_links.each do |sidebar_link| %>
      <tr>
        <td><%= sidebar_link.name %></td>
        <td><%= sidebar_link.url %></td>
        <td><%= link_to 'Show', sidebar_link %></td>
        <td><%= link_to 'Edit', edit_sidebar_link_path(sidebar_link) %></td>
        <td><%= link_to 'Destroy', sidebar_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sidebar link', new_sidebar_link_path %>
