!!!
%html
  %head
    %title Homework
    = stylesheet_link_tag 'application', media: 'all'
    - if request.path_info.start_with?('/admin')
      = stylesheet_link_tag 'scaffolds', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - flash.keys.each do |key|
      .flash{class: "flash-#{key}"}
        = flash[key]

  - if @user
    %div(style='float:right')
      = form_tag '/logout' do
        = submit_tag 'Logout'

  - if @user && @user.is_admin
    %div(style='margin: 0 auto; width: 1000px')
      %ul.admin-nav
        %li Admin
        - %w[commits exercises lesson_plans refreshes repos sidebar_links users].each do |link|
          %li
            %a{href: "/admin/#{link}"}= link

  - if request.path_info.start_with?('/admin')
    = find_and_preserve(yield) # don't add indent to inside of pre tag
  - else
    %div(style='margin: 0 auto; width: 1000px')
      = yield
