<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.keys.each do |key| %>
  <div class="flash flash-<%= key %>">
    <%= flash[key] %>
  </div>
<% end %>

<% if @user %>
  <div style='float:right'>
    <%= form_tag '/logout' do %>
      <%= submit_tag 'Logout' %>
    <% end %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
